In [3]:
# print 0 to 20 by using range
for number in range(0, 20):
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
# print range 10 to 20
for number in range(10,20):
    print(number, end = " ")

10 11 12 13 14 15 16 17 18 19

In [9]:
# Print number of items in the list by using 'len'
lists = [10, 20, 14, 55, 43, 87, 76]
total_items = len(lists)
print("Number of items in the list:\n", total_items)

Number of items in the list:
 7

In [10]:
name = "Artificial Intelligence"
for letter in name:
    print(letter)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [12]:
name = input("enter name: ")
age = input("enter age: ")
prof = input("enter profession: ")
print(f"Your name: {name}")
print(f"Your age: {age}")
print(f"Your profession: {prof}")

enter name:  Kaaviya
enter age:  37
enter profession:  SE

Your name: Kaaviya
Your age: 37
Your profession: SE

In [13]:
# Print this mixered datatype using Tuples
tup = (1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [14]:
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'HOPE')
tuple3 = (tuple1 , tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [15]:
# print Odd Numbers in the list
numbers = [20,10,16,19,25,1,276,188]
for item in numbers:
    if(item % 2 != 0):
        print(f"{item} is odd.")

19 is odd.
25 is odd.
1 is odd.

In [16]:
 # print Even numbers in the list
numbers = [20,10,16,19,25,1,276,188]
for item in numbers:
    if(item % 2 == 0):
        print(f"{item} is even.")

20 is even.
10 is even.
16 is even.
276 is even.
188 is even.