In [1]:
#1.Find the error in the following Python code:
import math
print(math.sqrt(16))

4.0

In [3]:
#2.Find the error in the following Python code:
def my_function(x):
    x += 5
    print(x)

x = 10
my_function(x)

15

In [5]:
#3.x = 5
x = 5
if x == 10:
    print("x is 10")

In [9]:
#4.
numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

In [10]:
#5.
def square(n):
   return n * n

print(square(4))

16

In [12]:
#6.
my_tuple = (1, 2, 3)
print(my_tuple[1])

2

In [15]:
#7.
name = "Alice"
age = 25
print(f"My name is {name} and I am {age} years old")

My name is Alice and I am 25 years old

In [17]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")
else:
    print("not equal")

In [19]:
#9.
for i in range(5, 1, -1):
    print(i)

5
4
3
2

In [22]:
#10.
student = {"name": "John", "age": 20}
print(student["name"])

John